spring:
    redis:
      host: 192.168.0.109 #单节点模式
      port: 6379 #端口号
      database: 0
      password:   huacke   # 密码（默认为空）
      timeout: 60000  # 连接超时时长（毫秒）
      jedis:
        pool:
            max-active: 2000  # 连接池最大连接数（使用负值表示没有限制）
            max-wait: 2000      # 连接池最大阻塞等待时间（使用负值表示没有限制）
            max-idle: 500      # 连接池中的最大空闲连接
            min-idle: 8        # 连接池中的最小空闲连接
            time-between-eviction-runs: 3000000 #空闲连接回收的时间间隔
      sentinel:
        nodes: 192.168.0.109:5000,192.168.0.111:5000,192.168.0.117:5000
        master: mymaster
      custom:
        useSentinel: true #集群模式    如果两个设置为false走的是单节点模式
        useCluster: false #哨兵模式
    kafka:
        producer:
            bootstrap-servers: 192.168.0.109:19092,192.168.0.111:19092,192.168.0.117:19092
            properties:
                sasl.mechanism: PLAIN
                sasl.username:
                sasl.password:
                sasl.jaas.config: /data/kafka/kafka_client_jaas.conf
                security.protocol: SASL_PLAINTEXT
        consumer:
            bootstrap-servers: 192.168.0.109:19092,192.168.0.111:19092,192.168.0.117:19092
            properties:
                sasl.mechanism: PLAIN
                sasl.username:
                sasl.password:
                sasl.jaas.config: /data/kafka/kafka_client_jaas.conf
                security.protocol: SASL_PLAINTEXT
    data:
        mongodb:
          uri: mongodb://mq:mq@192.168.0.109:23001,192.168.0.111:23001,192.168.0.117:23001/mq
          option:
               min-connection-per-host: 5
               max-connection-per-host: 100
               threads-allowed-to-block-for-connection-multiplier: 5
               server-selection-timeout: 25000
               max-wait-time: 15000
               max-connection-idle-time: 0
               max-connection-life-time: 0
               connect-timeout: 10000
               socket-timeout: 10000
               socket-keep-alive: false
               ssl-enabled: false
               ssl-invalid-host-name-allowed: false
               always-use-m-beans: false
               heartbeat-socket-timeout: 20000
               heartbeat-connect-timeout: 20000
               min-heartbeat-frequency: 500
               heartbeat-frequency: 10000
               local-threshold: 15



eureka:
  datacenter: mq
  environment: dev
  client:
    serviceUrl:
      defaultZone: http://admin:admin@192.168.0.109:8761/eureka/

