
spring:
  security:
    user:
      name: admin
      password: admin

eureka:
  datacenter: mq
  environment: dev
  client:
    serviceUrl:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@192.168.0.115:8761/eureka/
logging:
  path: logs/